.title {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #5c6673;
  opacity: 0.5;
}

.titleLabel {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #5c6673;
  opacity: 0.5;
}

.titleContainer {
  padding: 60px 20px 0px;
}

.iconButton {
  font-size: 18px;
  color: #5c6673;
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
}

.textSelection {
  padding: 0 20px;
  overflow-y: auto;
}

.textSelectionContainer {
  height: calc(100% - 140px);
}

.fullWidth {
  width: 100%;
}
