.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  background: #f0f0f0;
}

.icon {
  font-size: 18px;
  color: #43c888;
}
