.buttonGrid {
  margin: 0;
  padding: 0;
  width: 100%;
}

.buttonCol {
  --ion-grid-column-padding: 0;
}

.buttonRow {
  margin: 0;
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.button label {
  padding: 8px;
}
