.container {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: justify;
}

.container .word {
  cursor: pointer;
}

.container .selectedText {
  padding: 4px 0;
  border-radius: 4px;
  background: #e3eaf3;
}

.container .selectedText .word:first-child,
.container .selectedText .word:last-child {
  font-weight: bold;
}
