.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.titleColContainer,
.titleRowContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  text-align: left;
}

.titleRowContainer {
  flex-direction: row;
  gap: 4px;
}

.titleColContainer {
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  color: #1b1b1b;
}

.label {
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: justify;
  color: #5c6673;
}

.iconButton {
  font-size: 28px;
  color: #1b1b1b;
  cursor: pointer;
}
